{% extends 'shop/layout.html' %}

{% block title %}
    <title>Ваш заказ</title>
{% endblock %}

{% block content %}
    <h1>Ваш заказ</h1>
    <form method="post">
        {% csrf_token %}
        {% for flower in flowers %}
            <div>
                <input type="checkbox" name="flowers" value="{{ flower.id }}">
                <img src="{{ flower.image.url }}" alt="{{ flower.name }}" style="width: 100px; height: auto;">  <!-- Отображение картинки -->
                {{ flower.name }} - {{ flower.price }} руб.<br>
            </div>
        {% endfor %}
        <br>
        <button class="btn btn-orange" type="submit">Оформить заказ</button>
    </form>
{% endblock %}
